{% extends 'navbar.html' %}
{% load static %}

{% block content %}

<title>Courses</title>
<link rel="stylesheet" href="{% static 'courses.css' %}">

<script src="{% static 'courses.js' %}"></script>

<div id="a">
    <h1 id="head1">We're not a <span style="color: cyan;">course <br> factory</span></h1>
    <p>We focus on courses that really help.</p>
</div>

<div class="container">
    <div id="a1">
        <img src="../static/img2.jpg" alt="" id="img1">
        <h1 id="a2">Three.js Domination</h1>
        <button id="a3">HINDI</button>
        <h3 id="a4">Black Friday sale</h3>
        <h1 id="a5"> &#8377; 2499</h1>
        <h1 id="a6"> <strike> &#8377; 3500</strike></h1>
        <button id="a7">29% 0FF</button>
    </div>

    <div id="b1">
        <img src="../static/img4.jpg" alt="" id="img2">
        <h1 id="b2">Java & DSA Domination</h1>
        <button id="b3">ENGLISH</button>
        <h3 id="b4">Limited Time Discount</h3>
        <h1 id="b5"> &#8377; 4999</h1>
        <h1 id="b6"> <strike> &#8377; 9999</strike></h1>
        <button id="b7">50% 0FF</button>
    </div>

    <div id="c1">
        <img src="../static/img3.jpg" alt="" id="img3">
        <h1 id="c2">Back-End Domain: <br>Create Efficient Back-End</h1>
        <button id="c3">HINDI</button>
        <h3 id="c4">Limited Time Discount</h3>
        <h1 id="c5"> &#8377; 5999</h1>
        <h1 id="c6"> <strike> &#8377; 11000</strike></h1>
        <button id="c7">50% 0FF</button>
    </div>
</div>

<input id="c" type="button" value="view details">
<input id="d" type="button" value="view details">
<input id="e" type="button" value="view details">

<div class="f">
    <div id="f1">
        <img src="../static/img5.jpg" alt="" id="img4">
        <h1 id="f2">Front-End Domain: <br>Create Anything with Code</h1>
        <button id="f3">HINDI</button>
        <h3 id="f4">Limited Time Discount</h3>
        <h1 id="f5"> &#8377; 4999</h1>
        <h1 id="f6"> <strike> &#8377; 9999</strike></h1>
        <button id="f7">50% 0FF</button>
    </div>
    <div id="i1">
        <img src="../static/img1.jpg" alt="" id="img5">
        <h1 id="i2">Apptitude & Reasoning for <br>Campus Placements</h1>
        <button id="i3">ENGLISH</button>
        <h3 id="i4">Black Friday Sale</h3>
        <h1 id="i5"> &#8377; 999</h1>
        <h1 id="i6"> <strike> &#8377; 1500</strike></h1>
        <button id="i7">33% 0FF</button>
    </div>
</div>

<input id="g" type="button" value="view details">
<input id="h" type="button" value="view details">
<div id="details">
    <div class="data">
        <h1 style="width: 100px; height: 100px; margin-top: 80px; margin-left: 30px; font-size: 50px;">🦁</h1>
        <h1 style="color: white; font-size: 15px;margin-top: -60px;margin-left: 30px;">Let's connect with our socials</h1>
        <h6><img style="width: 250px; height: 55px; margin-top: -20px; margin-left: 20px;"  src="../static/Screenshot 2024-12-19 094533.png" alt=""></h6>
    </div>
    <div class="data">
        <h3 style="color: white; margin-left: 50px; font-size: 20px; margin-top: 80px; ">COMPANY</h3>
        <h6 style="color: white; margin-left: 50px; font-size: 15px;margin-top: 15px; ">About Us</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Support</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Privacy Policy</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Terms and Conditions</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Pricing and Refund</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Hire From Us</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Bug Bounty</h6>
    </div>
    <div class="data">
        <h3 style="font-size: 20px; color: white; margin-top: 80px; margin-left: 50px;"> COMMUNITY</h3>
        <h6 style="font-size: 15px; color: white; margin-top: 15px; margin-left: 50px;">intertia</h6>
        <h6 style="font-size: 15px; color: white; margin-top: -15px; margin-left: 50px;">Discord</h6>
    </div>
    <div class="data">
        <h3 style="color: white; margin-left: 50px; font-size: 20px; margin-top: 80px; ">Get In Touch</h3>
        <h6 style="color: white; margin-left: 50px; font-size: 15px;margin-top: 15px; ">+91 8109161752</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">+919691778470</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">hello@Sheryians.com</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">23-B,indrapuriSectorC,</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Bhopal(MP),462021</h6>
    </div>
</div>

<div>
    <h1 style="color: white; font-size: 17px; margin-left: 500px; margin-top: 50px;">
        copyright <span style="font-size: 17px; color: white;">©</span> 2024 Sheryians Pvt.Ltd. <br>
        <span style="margin-left: 70px;">All Rights Reserved</span>
    </h1>
</div>

{% endblock %}