{% extends 'navbar.html' %}
{% load static %}


{% block content %}

    <title>Sheryians Coding School</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
   

    <script src="{% static 'home.js' %}"></script>


<div id="div1">
    <h1 id="head1">We only  <span style="color: cyan;">teach</span> <br> what we are really <br>really  <i>good</i> at.</h1>
         <p id="head2">Get ready to <span style="color: cyan;">accelerate your <br> career</span>  with customized courses <br> and leave your mark in the tech <br> industry</p>
</div>
 <a href="{% url 'myapp:courses' %}"><input id="b1" type="button" value="Check Course-Make an Impact"></a>

<div id="a">   
<div  >
    <h1>25K+</h1>
    <p>Students thuaght</p>
</div>

<div>
    <h1>20+</h1>
    <p>Instructors</p>
</div>

<div>
    <h1>431K+</h1>
    <p>Youtube subs.</p>
</div>
</div>
<div id="b">
    <h1>We do Whatever it takes to  help you <br> <span style="color: cyan;">understand the concepts.</span></h1>
</div>

<div id="c">
    <iframe width="952" height="535" src="https://www.youtube.com/embed/60SRAWmMXyc" title="You Are Not Yet Ready | Placements | Open Source" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<input id="b2" type="button" value="Explore free learning">

<h1 id="d">Courses Offered.</h1>

<div class="container">
    <div id="a1">
        <img src="../static/img1.jpg" alt="" id="img1">
        <h1 id="a2">Front-End Domain: <br>Create Anything with Code</h1>
        <button id="a3">HINDI</button>
        <h3 id="a4">Limited Time Discount</h3>
        <h1 id="a5"> &#8377; 4999</h1>
        <h1 id="a6"> <strike> &#8377; 9999</strike></h1>
        <button id="a7">50% 0FF</button>
    </div>

    <div id="x1">
        <img src="../static/img2.jpg" alt="" id="img2">
        <h1 id="x2">Back-End Domain: <br>Create Efficient Back-End</h1>
        <button id="x3">HINDI</button>
        <h3 id="x4">Limited Time Discount</h3>
        <h1 id="x5"> &#8377; 5999</h1>
        <h1 id="x6"> <strike> &#8377; 11000</strike></h1>
        <button id="x7">50% 0FF</button>
    </div>

    <div id="y1">
        <img src="../static/img3.jpg" alt="" id="img3">
        <h1 id="y2">Apptitude & Reasoning for <br>Campus Placements</h1>
        <button id="y3">ENGLISH</button>
        <h3 id="y4">Black Friday Sale</h3>
        <h1 id="y5"> &#8377; 999</h1>
        <h1 id="y6"> <strike> &#8377; 1500</strike></h1>
        <button id="y7">33% 0FF</button>
    </div>

    <div id="z1">
        <img src="../static/img4.jpg" alt="" id="img4">
        <h1 id="z2">Java & DSA Domination</h1>
        <button id="z3">ENGLISH</button>
        <h3 id="z4">Limited Time Discount</h3>
        <h1 id="z5"> &#8377; 4999</h1>
        <h1 id="z6"> <strike> &#8377; 9999</strike></h1>
        <button id="z7">50% 0FF</button>
    </div>
</div>

<input id="f" type="button" value="view details">
<input id="g" type="button" value="view details">
<input id="h" type="button" value="view details">
<input id="i" type="button" value="view details">

<div id="j1">
    <img src="../static/img5.jpg" alt="" id="img5">
    <h1 id="j2">Three.js Domination</h1>
    <button id="j3">HINDI</button>
    <h3 id="j4">Black Friday sale</h3>
    <h1 id="j5"> &#8377; 2499</h1>
    <h1 id="j6"> <strike> &#8377; 3500</strike></h1>
    <button id="j7">29% 0FF</button>
</div>

<input id="k" type="button" value="view details">

<div id="l">
    <h1>Top <span style="color: cyan;">Companies</span> our students <br> working with.</h1>
</div>

<div class="logoo">
    <img id="lo1"  src="../static/amazon.jpg" alt="">
    <img id="lo2"  src="../static/tcs.jpg" alt="">
    <img id="lo3"  src="../static/wipro.jpg" alt="">
</div>

<div class="btn">
   <a href="{% url 'myapp:courses' %}"> <button id="btn11">Explore Courses</button></a> 
</div>
<div id="details">
    <div class="data">
        <h1 style="width: 100px; height: 100px; margin-top: 80px; margin-left: 30px; font-size: 50px;">🦁</h1>
        <h1 style="color: white; font-size: 15px;margin-top: -60px;margin-left: 30px;">Let's connect with our socials</h1>
        <h6><img style="width: 250px; height: 55px; margin-top: -20px; margin-left: 20px;"  src="" alt=""></h6>
    </div>
    <div class="data">
        <h3 style="color: white; margin-left: 50px; font-size: 20px; margin-top: 80px; ">COMPANY</h3>
        <h6 style="color: white; margin-left: 50px; font-size: 15px;margin-top: 15px; ">About Us</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Support</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Privacy Policy</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Terms and Conditions</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Pricing and Refund</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Hire From Us</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Bug Bounty</h6>
    </div>
    <div class="data">
        <h3 style="font-size: 20px; color: white; margin-top: 80px; margin-left: 50px;"> COMMUNITY</h3>
        <h6 style="font-size: 15px; color: white; margin-top: 15px; margin-left: 50px;">intertia</h6>
        <h6 style="font-size: 15px; color: white; margin-top: -15px; margin-left: 50px;">Discord</h6>
    </div>
    <div class="data">
        <h3 style="color: white; margin-left: 50px; font-size: 20px; margin-top: 80px; ">Get In Touch</h3>
        <h6 style="color: white; margin-left: 50px; font-size: 15px;margin-top: 15px; ">+91 8109161752</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">+919691778470</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">hello@Sheryians.com</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">23-B,indrapuriSectorC,</h6>
        <h6 style="color: white; margin-left: 50px; font-size: 15px; margin-top:-15px;">Bhopal(MP),462021</h6>
    </div>
</div>

<div>
    <h1 style="color: white; font-size: 17px; margin-left: 500px; margin-top: 50px;">
        copyright <span style="font-size: 17px; color: white;">©</span> 2024 Sheryians Pvt.Ltd. <br>
        <span style="margin-left: 70px;">All Rights Reserved</span>
    </h1>
</div>

 {% endblock %}